<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ellie - Docs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="./js/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="./assets/logo.png"/><link rel="shortcut icon" type="image/png" href="./assets/logo.png"/>
    <style>
    table, th, td {
        text-align:center;
  border: 1px solid black;
}</style>
</head>
  <body>
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">

     <div class="container">
                <div class="navbar-brand">
              
                  <a role="button" class="navbar-burger burger is-dark" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu is-dark">
                  <div class="navbar-start">
                    <a href="./" class="navbar-item">
                      Home
                    </a>
              
                    <a href="./documentation" class="navbar-item">
                      Documentation
                    </a>
                         <a href="./status" class="navbar-item">
                               Status
                              </a>
                    <a href="https://elliebot.xyz/invite" class="navbar-item">
                      Invite
                    </a>
                    <a href="https://discordapp.com/invite/HSrWZC" class="navbar-item">
                            Support Discord
                          </a>
                         
                     
                  </div>
              
                  <div class="navbar-end">
                    <div class="dropdown is-hoverable navbar-item">
  <div class="dropdown-trigger">
    <span aria-haspopup="true" aria-controls="dropdown-menu4">
      <span><i class="fab fa-ethereum"></i> Ethereum</span>
   
     
    </span>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
   <b>Bitcoin</b> : 189YX1sQ9dQHDdNgNhtt8MvqDd11TY9aaR <br>
      <b>Ethereum</b> : 0xbEF09F42bfa8e2667545A1BfA648563f384831E5
      </div>
    </div>
  </div>
</div>
                              <a href="https://paypal.me/ero1?locale.x=en_US" class="navbar-item">
                                    <span><i class="fab fa-paypal"></i> Paypal</span>
                                  </a>
                  </div>

            </div>
        </div>
        </nav>
        <center>
        <style>
        th, td {
  padding: 8px;
  text-align: left;

}

tr:hover {background-color:#f5f5f5;}</style>
        <section class="hero is-small is-black">
                <div class="hero-body">
            
                    <div class="container">
                        <h1 class="title is-size-1">Documentation</h1>
                        <h1 class="subtitle">Having trouble with the syntax of a command? Want to find new commands? You're in the right place!</h1>
                  </div>
                </div>

           
              </section>
            </center>
            <section class="container">
                <br>
            <div class="card">
                    <div class="card-content">
                       <center> <h1 class="title"> <i class="fas fa-shield-alt"></i> Moderation Commands </h1>
                    <p1>Moderation Commands help admins in your serveer perform high level actions with just a command.</p1>
                    <br>
                    
                </div>
                  <table style="text-align:center;width:90%;margin-left:5%;">
                
<tbody>
<tr style="height: 22px;">
<td style="height: 22px; width: 100px;">&nbsp;Name</td>
<td style="height: 22px; width: 79px;">&nbsp;Parameters</td>
<td style="height: 22px; width: 349px;">&nbsp;Example</td>
<td style="height: 22px; width: 219.667px;">&nbsp;Result</td>
</tr>
<tr style="height: 22px;">
<td style="height: 22px; width: 100px;">&nbsp;$kick</td>
<td style="height: 22px; width: 79px;">&nbsp;@user, reason</td>
<td style="height: 22px; width: 349px;">&nbsp;$kick @bob being mean</td>
<td style="height: 22px; width: 219.667px;">&nbsp;Bob gets kicked from the server.</td>
</tr>
<tr style="height: 22px;">
<td style="height: 22px; width: 100px;">&nbsp;$ban</td>
<td style="height: 22px; width: 79px;">&nbsp;@user, reason</td>
<td style="height: 22px; width: 349px;">&nbsp;$ban @bob being really mean</td>
<td style="height: 22px; width: 219.667px;">&nbsp;Bob gets banned from the server for being mean.</td>
</tr>
<tr style="height: 22px;">
<td style="height: 22px; width: 100px;">&nbsp;$purge</td>
<td style="height: 22px; width: 79px;">&nbsp;amount</td>
<td style="height: 22px; width: 349px;">&nbsp;$purge 100</td>
<td style="height: 22px; width: 219.667px;">&nbsp;100 messages get deleted.</td>
</tr>
<tr style="height: 22.3333px;">
<td style="height: 22.3333px; width: 100px;">&nbsp;$warn</td>
<td style="height: 22.3333px; width: 79px;">&nbsp;@user, reason</td>
<td style="height: 22.3333px; width: 349px;">&nbsp;$warn @bob being mean to bobby</td>
<td style="height: 22.3333px; width: 219.667px;">Bob gets warned.</td>
</tr>

<tr style="height: 22px;">
<td style="height: 22px; width: 100px;">&nbsp;$config current</td>
<td style="height: 22px; width: 79px;">&nbsp;n/a</td>
<td style="height: 22px; width: 349px;">&nbsp;$config current</td>
<td style="height: 22px; width: 219.667px;">&nbsp;Tells you what channel is the mod log.</td>
</tr>
<tr style="height: 22px;">
<td style="height: 22px; width: 100px;">&nbsp;$config</td>
<td style="height: 22px; width: 79px;">&nbsp;#channel-name</td>
<td style="height: 22px; width: 349px;">&nbsp;$config #mod-log</td>
<td style="height: 22px; width: 219.667px;">&nbsp;Sets the mod log to that channel. So any moderation action will be noted in this channel.</td>
</tr>
</tbody>
</table>
                    </center>
                   <br>
             </div>
             <br>
             <div class="card">
                     <div class="card-content">
                        <center> <h1 class="title"> <i class="fas fa-comment-dollar"></i>  Economy Commands </h1>   <p1>A fun way to keep your server members engaged.</p1></center>
             
                       
                    </div>
                    <table style="text-align:center;width:90%;margin-left:5%">
                            <tbody>
                            <tr style="height: 22px;">
                            <td style="height: 22px; width: 100px;">&nbsp;Name</td>
                            <td style="height: 22px; width: 79px;">&nbsp;Parameters</td>
                            <td style="height: 22px; width: 349px;">&nbsp;Example</td>
                            <td style="height: 22px; width: 219.667px;">&nbsp;Result</td>
                            </tr>
                            <tr style="height: 22px;">
                            <td style="height: 22px; width: 100px;">&nbsp;$balance</td>
                            <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
                            <td style="height: 22px; width: 349px;">&nbsp;$balance</td>
                            <td style="height: 22px; width: 219.667px;">&nbsp;Says how much money you have.</td>
                            </tr>
                            <tr style="height: 22px;">
                            <td style="height: 22px; width: 100px;">&nbsp;$pay</td>
                            <td style="height: 22px; width: 79px;">&nbsp;@user, amount</td>
                            <td style="height: 22px; width: 349px;">&nbsp;$pay @bob changing your ways</td>
                            <td style="height: 22px; width: 219.667px;">&nbsp;Bob gets money!</td>
                            </tr>
                            <tr style="height: 22px;">
                            <td style="height: 22px; width: 100px;">&nbsp;$work</td>
                            <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
                            <td style="height: 22px; width: 349px;">&nbsp;$work</td>
                            <td style="height: 22px; width: 219.667px;">&nbsp;User does a random task and gets a random amount of money.</td>
                            </tr>
                     
    
                            </tbody>
                            </table>
                            <br>
              </div>
              <br>
              <div class="card">
                    <div class="card-content">
                       <center> <h1 class="title"> <i class="fas fa-user-check"></i> Evida Commands </h1>    <p>Evida is a server protection tool that requires all users to fill in a Google Captcha to join.</p>
                       </center>
                  </div>
                  <table style="text-align:center;width:90%;margin-left:5%">
                        <tbody>
                        <tr style="height: 22px;">
                        <td style="height: 22px; width: 100px;">&nbsp;Name</td>
                        <td style="height: 22px; width: 79px;">&nbsp;Parameters</td>
               
                        <td style="height: 22px; width: 219.667px;">&nbsp;Result</td>
                        </tr>
                        <tr style="height: 22px;">
                        <td style="height: 22px; width: 100px;">&nbsp;$evida-config</td>
                        <td style="height: 22px; width: 79px;">&nbsp;#channel-name</td>
                
                        <td style="height: 22px; width: 219.667px;">&nbsp;This is the channel where users will have to verify.</td>
                        </tr>
                        <tr style="height: 22px;">
                        <td style="height: 22px; width: 100px;">&nbsp;$evida-off / $evida-on</td>
                        <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
      
                        <td style="height: 22px; width: 219.667px;">&nbsp;You can either turn on or off the server shield.</td>
                        </tr>
                        </tr>
                 
                        <tr style="height: 22px;">
                          <td style="height: 22px; width: 100px;">&nbsp;$mverify</td>
                          <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
                          <td style="height: 22px; width: 219.667px;">&nbsp;Incase you didn't get the verification link from Ellie, this makes it send it to you again.</td>
                          </tr>

                        </tbody>
                        </table>
                        <br>
             </div>
             <br>
          
              <div class="card">
                    <div class="card-content">
                       <center> <h1 class="title"> <i class="fas fa-headphones-alt"></i> Music Commands </h1>    <p>Stream music right through Discord Voice.</p>
                       </center>
                  </div>
                  <table style="text-align:center;width:90%;margin-left:5%">
                        <tbody>
                        <tr style="height: 22px;">
                        <td style="height: 22px; width: 100px;">&nbsp;Name</td>
                        <td style="height: 22px; width: 79px;">&nbsp;Parameters</td>
               
                        <td style="height: 22px; width: 219.667px;">&nbsp;Result</td>
                        </tr>
                        <tr style="height: 22px;">
                        <td style="height: 22px; width: 100px;">&nbsp;$play</td>
                        <td style="height: 22px; width: 79px;">&nbsp;youtube-link</td>
                
                        <td style="height: 22px; width: 219.667px;">&nbsp;Play a youtube link via Discord voice channel.</td>
                        </tr>
                        <tr style="height: 22px;">
                        <td style="height: 22px; width: 100px;">&nbsp;$np</td>
                        <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
      
                        <td style="height: 22px; width: 219.667px;">&nbsp;Tells you the currently playing song.</td>
                        </tr>
                        </tr>
                 
                        <tr style="height: 22px;">
                          <td style="height: 22px; width: 100px;">&nbsp;$pause</td>
                          <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
                          <td style="height: 22px; width: 219.667px;">&nbsp;Pause the music that is currently playing.</td>
                
                          </tr>
 <tr style="height: 22px;">
                          <td style="height: 22px; width: 100px;">&nbsp;$queue</td>
                          <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
                          <td style="height: 22px; width: 219.667px;">&nbsp;Get a list of all the songs that are going to play next.</td>
                
                          </tr>
                 <tr style="height: 22px;">          
           <td style="height: 22px; width: 100px;">&nbsp;$resume</td>
                          <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
                          <td style="height: 22px; width: 219.667px;">&nbsp;If something is paused, you can unpause it with this command.</td>
                
                          </tr>
                          
                               <tr style="height: 22px;">          
           <td style="height: 22px; width: 100px;">&nbsp;$skip</td>
                          <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
                          <td style="height: 22px; width: 219.667px;">&nbsp;Skip the song that is currently playing.</td>
                
                          </tr>
                          
                           <tr style="height: 22px;">          
           <td style="height: 22px; width: 100px;">&nbsp;$stop</td>
                          <td style="height: 22px; width: 79px;">&nbsp;n/a</td>
                          <td style="height: 22px; width: 219.667px;">&nbsp;Disconnects Ellie from the voice channel.</td>
                
                          </tr>
                           <tr style="height: 22px;">          
           <td style="height: 22px; width: 100px;">&nbsp;$volume</td>
                          <td style="height: 22px; width: 79px;">&nbsp;integer value less than or equal to 4</td>
                          <td style="height: 22px; width: 219.667px;">&nbsp;Set the volume of the music playing.</td>
                
                          </tr>
                        </tbody>
                        </table>
                        <br>
             </div>
</section>
          <br>
  <center>&copy Ellie Discord Bot</center>
          <br><br>
  </body>
</html>